.heroImage {
    --marginBottom: 2vw;
    position: relative;
    color: var(--nude0);
    background-color: var(--black);
    margin-bottom: var(--marginBottom);
}

.heroImage .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: hidden;
    position: absolute;
    background-color: transparent;
    inset: 0;
}

.heroImage img {
    --heroImageHeight: calc(100vh - var(--headerTopBarHeight) - var(--headerNavigationHeight) - var(--marginBottom));
    opacity: 0.8;
    object-fit: cover;
    object-position: 50% 50%;
    height: var(--heroImageHeight);
    width: 100%;
}

.heroImage .subtitle {
    font: var(--paragraph1);
    letter-spacing: 0.2em;
    white-space: nowrap;
}

.heroImage .title {
    font: var(--heading1);
    font-size: clamp(60px, 6vw, 110px);
    text-transform: uppercase;
    white-space: nowrap;
}

.heroImage .overlayLink {
    margin-top: 0;
}
