.rowOfCards {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    width: 100%;
    gap: 4px;
    max-height: 730px;

    text-transform: uppercase;
    color: var(--colorA1);
    font: var(--heading1);
    aspect-ratio: 0.75;

    & > .cardTitle {
        padding: 30px;
        font-size: 40px;
        line-height: 1.2;
        text-align: center;
    }
}
