.header1 {
    font: var(--heading1);
    color: var(--text-color);
    max-width: 70vw;
}
.div1 {
    background-color: rgba(0, 0, 0, 0);
}
.labelWithArrow {
    background-color: var(--text-color);
}
