@import '@styles/variables.scss';

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 var(--pagePaddingHoriz);
}

.toaster {
    padding: 100px 0 0 0;
}

@media (max-width: $desktop-width) {
    .toaster {
        padding-top: 0;
    }
}
