@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.menuSectionContent {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}

@media (max-width: 900px) {
  .menuSectionContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 12px;
  }
}

.customButton:focus-visible {
  text-decoration: underline;
}
