.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin-right: auto;
}

.customToast {
    width: 280px;
}

@media (max-width: 1024px) {
    .toaster {
        padding-top: 0;
    }
}
