.trigger {
    cursor: pointer;
}

.content {
    padding: 10px 0;
    background: var(--primary1);
    border: 1px solid rgba(23, 17, 13, 0.2);
    box-shadow: none;
}

.item {
    color: var(--primary5);
    cursor: pointer;
    padding: 0 20px;
    min-height: 35px;
    display: flex;
    align-items: center;
}

.item .contentWrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

.item:focus-visible {
    color: var(--colorD4);
    box-shadow: none;
}

.item[data-disabled] {
    opacity: 0.5;
    cursor: default;
}

.separator {
    margin: 5px 20px;
    height: 1px;
    border: solid 1px #eee;
    border-style: inset;
    opacity: 0.4;
}
