:root {
    // background-and-text-colors
    --main1: #FEF9EC;
    --main2: #FFEFC7;
    --main3: #DAD3C1;
    --main4: #767165;
    --main5: #17110D;

    // action-colors
    --action1: #CED0C4;
    --action2: #9FA295;
    --action3: #707365;
    --action4: #414434;
    --action5: #22241B;

    //additional color palettes
    --paletteA1: #D1BBD5;
    --paletteA2: #A78FAC;
    --paletteA3: #7D6283;
    --paletteA4: #522C59;
    --paletteA5: #29162D;

    --paletteB1: #E3CDB2;
    --paletteB2: #C6A071;
    --paletteB3: #957855;
    --paletteB4: #5B4B34;
    --paletteB5: #32281C;

    --paletteC1: #F5FED2;
    --paletteC2: #EBFDA6;
    --paletteC3: #B0BE7C;
    --paletteC4: #767F53;
    --paletteC5: #3B3F2A;
}
