// background-and-text-colors
$main1: #FEF9EC;
$main2: #FFEFC7;
$main3: #DAD3C1;
$main4: #f5f5f5;
$main5: #aaaaaa;

// action-colors
$action1: #ffffff;
$action2: #ffffff;
$action3: #ffffff;
$action4: #ffffff;
$action5: #ffffff;

//additional color palettes
$paletteA1:
$paletteA2:
$paletteA3:
$paletteA4:
$paletteA5:

$paletteB1:
$paletteB2:
$paletteB3:
$paletteB4:
$paletteB5:

$paletteC1:
$paletteC2:
$paletteC3:
$paletteC4:
$paletteC5:

//fonts
$my-prettyfont: 'DM Sans', sans-serif;

//titles
$extra-large-thin-title: 100 65px/1.2 $my-prettyfont;
$large-thin-title: 100 45px/1.4 $my-prettyfont;
$large-title: 400 45px/1.4 $my-prettyfont;
$large-title-mobile: 400 30px/1.4 $my-prettyfont;
$medium-title: 300 20px/1.4 $my-prettyfont;
$medium-bold-title: 700 20px/1.4 $my-prettyfont;
$small-title: 700 16px/1.4 $my-prettyfont;
$extra-small-title: 700 11px/1.4 $my-prettyfont;

//paragrph
$large-paragraph: 400 52px/1.6 $my-prettyfont;
$medium-paragraph: 400 34px/1.4 $my-prettyfont;
$medium-paragraph-bold: 1000 42px/1.4 $my-prettyfont;
$small-text-font-bold: 1000 24px/1.4 $my-prettyfont;

//text
$extra-large-text: 400 60px/1.4 $my-prettyfont;
$small-text: 400 16px/1.4 $my-prettyfont;
$extra-small-text: 400 12px/1.45 $my-prettyfont;
