@font-face {
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/marcellus-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300 900;
    src: url('../assets/fonts/figtree-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 300 900;
    src: url('../assets/fonts/figtree-italic.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

:root {
    --heading-font: 'DM Sans', sans-serif;
    --text-font: 'DM Sans', sans-serif;

    --heading1: 800 120px/1 'DM Sans', sans-serif;
    --heading2: 800 100px/0.94 'DM Sans', sans-serif;
    --heading3: 800 60px/1.05 'DM Sans', sans-serif;
    --heading4: 400 40px/1.1 'DM Sans', sans-serif;
    --heading5: 600 24px/1 'DM Sans', sans-serif;
    --heading6: 400 20px/1.2 'DM Sans', sans-serif;

    --paragraph1: 400 20px/1.2 'DM Sans', sans-serif;
    --paragraph2: 400 17px/1.3 'DM Sans', sans-serif;
    --paragraph3: 400 16px/1.2 'DM Sans', sans-serif;
}
