.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Prevent elements with a z-index in .root from piercing through overlays
       that appear later in the DOM. */
    isolation: isolate;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 var(--pagePaddingHoriz);
}

.navigationProgressBar {
    --color: #7d6283;
}
.div1 {
    width: 100%;
    height: 100px;
    align-content: start;
    background-color: #ea1d1d;
}
