.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px 4px;
}

.productLink {
    display: block;
    max-width: 550px;
}

.clearFiltersButton {
    margin-top: 32px;
}

.clearFiltersButton:hover {
    color: rgba(23, 17, 13, 0.7);
}

@media (max-width: 1024px) {
    .productGrid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
