.root {
    position: relative;
    color: var(--nude0);
    background-color: var(--black);
    margin-bottom: 2vw;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    position: absolute;
    background-color: transparent;
    inset: 0;
    padding: 6vw;
}

.image {
    opacity: 0.8;
    object-fit: cover;
    object-position: 50% 50%;
    height: calc(100vh - 124px);
    width: 100%;
}

.subTitle {
    font: var(--paragraph1);
    letter-spacing: 0.2em;
    white-space: nowrap;
}

.title {
    font: var(--heading1);
    font-size: clamp(60px, 6vw, 110px);
    text-transform: uppercase;
    white-space: nowrap;
}

.overlayLink {
    margin-top: 0;
}
