.form {
    position: relative;
}

.input {
    width: 100%;
    padding: 0 1.5em;
    border: none;
    background: none;
    font-size: 0.9em;

    &:focus-visible {
        box-shadow: none;
    }
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
}

.clearIcon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.input:placeholder-shown + .clearIcon {
    display: none;
}
