.root {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
}

.open {
    display: block;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: var(--colorA5);
    opacity: 0.3;
}

.drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 420px;
    height: 100%;
    background-color: var(--colorA1);
}
