.root {
    padding: 50px 2% 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--nude2);
}

.navigation {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 150px;
    padding: 0 15px 30px;
}

.navItem {
    display: block;
    font: var(--paragraph1);
    font-family: var(--ff-decor);
    line-height: 2.2;
}

.navItem.active {
    color: var(--brown3);
}

.bottomBar {
    display: flex;
    align-items: baseline;
}

.logo {
    flex-grow: 1;
    font: var(--heading1);
    line-height: 1;
    font-size: clamp(120px, 13vw, 220px);
}

.copyright {
    flex-shrink: 0;
    flex-basis: content;
    font: var(--paragraph3);
    text-align: right;
}

.coduxLink {
    text-decoration: underline;
}
