.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    padding: 0 2%;
    height: 35vw;
    padding: 0 14%;
    color: var(--colorA5);
}

.subtitle {
    font-family: var(--text-font);
    line-height: 1.4;
    font-size: 1.3vw;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 1%;
}

.title {
    font: var(--heading2);
    font-size: 4.3vw;
    line-height: 1.1em;
    margin-bottom: 1%;
}
