@import '@styles/variables.scss';

.root {
    padding: 14px;
    width: 480px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 14px;
}

.root.error {
    background-color: var(--error);
}

.root.success {
    background-color: var(--colorE4);
}

.root.blank {
    background-color: var(--colorC3);
}

.root.loading {
    width: 280px;
    text-align: center;
    background-color: var(--secondary1);
    color: var(--secondary4);
}

@media (max-width: $desktop-width) {
    .root,
    .root.loading {
        width: 100%;
    }
}

.description {
    font: var(--paragraph3);
    flex-grow: 1;
}

.close {
    flex-shrink: 0;
    display: flex;

    .closeIcon {
        cursor: pointer;
    }
}

@keyframes defaultEnter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes defaultExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.defaultEnter {
    animation: defaultEnter 0.5s ease forwards;
}

.defaultExit {
    animation: defaultExit 0.5s ease forwards;
}
