.root {
    cursor: pointer;
}

.contentWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.root:hover .actionLink,
.actionLink:hover {
    opacity: 0.7;
}

.actionLink {
    font: var(--paragraph3);
}
